.idea
passes/compiled/
compiled/*
**/compiled/
*.dep
*.zo
compiled/drracket/errortrace/datatypes_rkt.dep
compiled/drracket/errortrace/datatypes_rkt.zo
compiled/drracket/errortrace/environment_rkt.dep
compiled/drracket/errortrace/environment_rkt.zo
compiled/drracket/errortrace/interpreter_rkt.dep
compiled/drracket/errortrace/interpreter_rkt.zo
compiled/drracket/errortrace/scoping_rkt.dep
compiled/drracket/errortrace/scoping_rkt.zo
passes/compiled/drracket/errortrace/lexer_rkt.dep
passes/compiled/drracket/errortrace/lexer_rkt.zo
passes/compiled/drracket/errortrace/parser_rkt.dep
passes/compiled/drracket/errortrace/parser_rkt.zo
compiled/

